body {
	margin-left: auto;
	margin-right: auto;
	color: #B25D1E;
	font-family: 'Belgrano', serif;
}
  
header {
	top: 0;
}
  
body, html {
	width: 100%;
	height: 100%;
	background-position: right top;
	background-size: cover;
}

.stijlindex {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #000000;
	background-image: none;
}

.indexje {
	background-color: #FFE3CA;
	background-image: url("bannersite2.png");
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	color: #B25D1E;
	font-family: 'Fredoka One', cursive;
}
.projectspagina {
	background-image: url("achtergrondprojects.png");
	background-repeat: no-repeat;
	background-color: #FFE3CA;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
}


h1, h2 {
	font-family: 'Caesar Dressing', cursive;
	color: #FFF;
	padding: 20px;
	text-shadow: 2px 2px #DE7D95;
}

h1 {
	font-size: 120px;
	margin: auto;
	width: 70%;
}

h2 {
	font-size: 80px;
	margin: auto;
	width: 50%;
}
	
.belang{
	font-family: 'Caesar Dressing', cursive;
	color: #DE7D95;
	padding: 20px;
	text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}

.kop {
  line-height: 1.2;
  position: absolute;
  left: 550px;
  top: 70px;
  z-index: 19;
}

/* opmaak menubar, bron:https://codepen.io/vpdemo/pen/jEZPOK*/
#menu {
	margin: auto;
	width: 50%;
	font-size: 25px;
	font-family: 'Nova Cut', cursive;
	text-align: left;
	padding: 8px;
	border-radius: 50%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 20px;
	height: 150px;
	
}

#menu ul {
	margin: 0;
	padding: 10px 0;
	list-style: none;
	height: auto;
}
.huidigepagina {
	text-shadow: 0 0 4px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
}
#menu li {
	display: inline;
	padding: 8px;
}

#menu a {
	color: #FFF;
	background-color: #C4B8D4;
	padding: 10px;
	text-decoration: none;
	border-radius: 5%;
}

#menu a:hover {
	background-color: #CCB6A2;
	color: #FFF;
	border-radius: 5%;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;*/
}
/*kram plaatje*/
#Library {
	background-image: url("Tekening dimi1.jpg");
	height: 600px;
	width: 825px;
	border: 0px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#Library:hover {
	background-image: url("Tekening dimi2.jpg");
	height: 600px;
	width: 825px;
	border:0px;
}


#Eindproject {
  background-image: url("Eindproject.png");
  position: absolute;
  left:40px;
  top: 327px;
  width: 1256px;
  height: 514px;
  z-index: 17;
}


#individuele_opdrachten_tekst {
  background-image: url("individuele opdrachten tekst.png");
  position: absolute;
  left: 40px;
  top: 888px;
  width: 602px;
  height: 186px;
  z-index: 4;
}

#groepsopdrachten_tekst {
  background-image: url("groepsopdrachten tekst.png");
  position: absolute;
  left: 730px;
  top: 888px;
  width: 613px;
  height: 185px;
  z-index: 5;
}

#eerste_vierkant {
  background-image: url("eerste vierkant.png");
  position: absolute;
  left: 40px;
  top: 1098px;
  width: 607px;
  height: 570px;
  z-index: 16;
}

#i1_2 {
  background-image: url("i1-2.png");
  position: absolute;
  left: 40px;
  top: 1757px;
  width: 597px;
  height: 619px;
  z-index: 5;
}

#i2 {
  background-image: url("i2.png");
  position: absolute;
  left: 40px;
  top: 2465px;
  width: 607px;
  height: 601px;
  z-index: 10;
}

#i3 {
  background-image: url("i3.png");
  position: absolute;
  left: 40px;
  top: 3105px;
  width: 597px;
  height: 633px;
  z-index: 8;
}

#i3_2 {
  background-image: url("i3-2.png");
  position: absolute;
  left: 40px;
  top: 3807px;
  width: 607px;
  height: 612px;
  z-index: 13;
}

#i4 {
  background-image: url("i4.png");
  position: absolute;
  left: 40px;
  top: 4447px;
  width: 597px;
  height: 629px;
  z-index: 11;
}

#Gr1 {
  background-image: url("Gr1.png");
  position: absolute;
  top: 1098px;
  left: 730px;
  width: 594px;
  height: 562px;
  z-index: 6;
}

#Gr2 {
  background-image: url("Gr2.png");
  position: absolute;
  left: 730px;
  top: 1757px;/*1833px;*/
  width: 607px;
  height: 664px;
  z-index: 4;
}

#Gr2_2 {
  background-image: url("Gr2-2.png");
  position: absolute;
  left: 936px;
  top: 2465px;/* 2552px;*/
  width: 594px;
  height: 599px;
  z-index: 9;
}

#Gr3 {
  background-image: url("Gr3.png");
  position: absolute;
  left: 923px;
  top: 3105px;/*3181px;*/
  width: 607px;
  height: 646px;
  z-index: 7;
}
 
#Gr4 {
  background-image: url("Gr4.png");
  position: absolute;
  left: 926px;
  top: 3807px;/*3894px;*/
  width: 594px;
  height: 593px;
  z-index: 12;
}

/*#achtergrondprojectss {
  background-image: url("achtergrondprojects.png");
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
  background-position: right top;
  background-color: #FFE3CA;
}*/
