/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

body {
	background-color: black;
	/*background-image: url("liz.jpg");
	background-repeat: no-repeat;*/
	width: 2000px;
	margin-left: auto;
	margin-right: auto;
	color: #B25D1E;
	font-family: 'Bungee Shade', cursive;
}
.belang{
	background-color: #ACD2D4;
	font-family: 'Nova Mono', monospace;
	box-shadow: 10px 10px 5px #CCB6A2;
	border-radius: 25px;
        border: 2px solid #B25D1E;
        padding: 20px;
	color: #FFE3CA;
}
/* opmaak menubar, bron:https://codepen.io/vpdemo/pen/jEZPOK*/
/*.menu {
     margin: 0;
     width: auto;
     background-color: #565656;
     font-size: 16px;
     font-family: 'Titillium Web', sans-serif;
     font-weight: bold;
     text-align: left;
     padding: 8px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -o-border-radius: 8px;
}

.menu ul {
     margin: 0;
     padding: 8px 0;
     list-style: none;
     height: auto;
}

.menu li {
     display: inline;
     padding: 8px;
}

.menu a {
     color: #FFF;
     padding: 10px;
     text-decoration: none;
}

.menu a:hover {
     background-color: #1B191B;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}

.menu li .active {
     background-color: #1B191B;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}*/

#menu {
     margin: 0;
     width: auto;
     background-color: #565656;
     font-size: 16px;
     font-family: Tahoma, Geneva, sans-serif;
     font-weight: bold;
     text-align: left;
     padding: 8px;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -o-border-radius: 8px;
}

#menu ul {
     margin: 0;
     padding: 8px 0;
     list-style: none;
     height: auto;
}

#menu li {
     display: inline;
     padding: 8px;
}

#menu a {
     color: #FFF;
     padding: 10px;
     text-decoration: none;
}

#menu a:hover {
     background-color: #1B191B;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}
/*kram plaatje*/
#Library {
	background-image: url("Tekeningdimi1.jpg");
	height: 600px;
	width: 825px;
}

#Library:hover {
	background-image: url("liz.jpg");
	height: 600;
	width: 825px;
}
/*#menu li .active {
     background-color: #1B191B;
     color: #FFF;
     border-radius: 20px;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -o-border-radius: 20px;
}*/
